<% provide :title, t("header.logo") %>
  <div class="center jumbotron">
    <h1> <%= t "home.training" %> </h1>
    <%= link_to t("home.signup"), signup_path,
      class: "btn btn-lg btn-primary" %>
    <%= link_to t("suggest_question.submit"), new_suggest_question_path,
      class: "btn btn-lg btn-primary" %>
  </div>
