<% provide :title, t("header.logo") %>
  <div class="center jumbotron">
    <h1><%= t "home.training" %></h1>
    <%= link_to t("subject.title"), new_admin_subject_path, class:
      "btn btn-lg btn-primary" %>
  </div>
