<% provide :title, t("suggest_question.index") %>
<h1><%= t "suggest_question.index" %></h1>

<%= will_paginate %>
  <% @suggest_questions.each do |suggest_question| %>
    <div>
      <span>
        <%= link_to truncate(suggest_question.content, length: Settings.length),
          suggest_question_path(suggest_question) %>
      </span>
     </div>
  <% end %>
<%= will_paginate %>
